/*!
Theme Name: comparaBet
Theme URI: https://sportsinnovation.dk
Author: Sports Innovation
Author URI: https://sportsinnovation.dk
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: comparebet
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

comparebet is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";
:not(:disabled) {
  cursor: default;
}
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "variables-site/theme.variables";

/*------------------------------------------------------------*/

h1 {
  font: 700 26px/1.5em Roboto;
  color: $text-color;
  margin: 0 0 30px;

  a {
    color: $text-color;
    transition: all 0.25s ease;

    &:visited {
      color: $text-color;
    }

    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }
}

h2 {
  font: 700 18px/1.45em Montserrat;
  color: $text-color;
  margin: 0 0 15px;

  p + & {
    margin-top: 40px;
  }
}

h3 {
  font: 500 16px/1em Roboto;
  color: $text-color;
  margin: 0 0 15px;

  p + & {
    margin-top: 40px;
  }
}

h4 {
  font: 400 16px/1em Roboto;
  color: $text-color;
  margin: 0 0 15px;

  p + & {
    margin-top: 40px;
  }
}

h5 {
  font: 400 16px/1em Roboto;
  color: #535353;
  margin: 0 0 15px;

  p + & {
    margin-top: 40px;
  }
}

h6 {
  font: 500 12px/1em Roboto;
  color: $text-color;
  margin: 0 0 15px;

  p + & {
    margin-top: 40px;
  }
}

/*========= CONTENT =========*/

body {
  font: 400 16px/1.7em Roboto;
  margin-bottom: 0 !important;
  color: $text-color;
  overflow-x: hidden;

  height: 100%;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 16px;
  line-height: 1.5em;
  color: $text-color;
  margin: 0;

  &:not(:last-child) {
    //margin-bottom: 30px;
  }

  a {
    text-decoration: none;
    color: #1974d2;
    transition: all 0.25s ease;

    &:focus,
    &:visited {
      color: #1974d2;
    }

    &:hover {
      color: #205790;
    }
  }
}

a {
  cursor: pointer !important;
  text-decoration: none;
}

.post,
.page {
  margin: 0 0 45px;
}

.page .entry-header {
  //display: none;
  text-align: center;
}

ul,
ol {
  padding: 0;
  margin: 0 0 0 15px;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

.entry-content {
  si-lb-widget {
    margin-top: 0;

    &:not(:nth-last-of-type(1)) {
      padding-bottom: 48px;
      margin-bottom: 48px;
      border-bottom: 1px solid $bg-color;
    }

    &:nth-last-of-type(1) {
      margin-bottom: 30px;
    }
  }
}

button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  box-shadow: none;
  box-sizing: border-box;
  display: inline-block;
  text-transform: capitalize;
  white-space: nowrap;
  background-color: rgb(0, 73, 131);
  color: #fff;
  outline: none;
  line-height: 32px;
  font-size: 12px;
  padding: 0 12px;
  border: 1px solid rgb(178, 178, 178);
  border-image: initial;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease;

  &:not(:disabled):active {
    box-shadow: rgba(0, 153, 252, 0.25) 0 0 0 3px;
  }

  &:not(:disabled):hover {
    background-color: rgb(1, 86, 153);
    border-color: rgb(1, 86, 153);
  }

  &:focus {
    outline: none;
  }

  a,
  a:visited,
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

#page {
  background-color: $bg-color;

  > .container {
    margin-bottom: 30px;
  }
}

.si-entry-title {
  margin-bottom: 50px;
  text-align: center;
}

.site-branding-wrapper {
  background: #000;
  position: relative;
  z-index: 1;
  padding: 15px 0;

  .header-sidebar {
    justify-items: center;
    align-items: center;
    flex:1;
    display:flex;
    .widget-area {
      padding: 0;

      .widget_polylang {
        margin: 0;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        ul {
          list-style: none;
          margin: 0;
          display: flex;

          li {
            width: 20px;
            height: 20px;
            display: flex;
            margin: 0 1px;
            align-items: center;
            justify-content: center;
            border: 1px solid transparent;

            &.current-lang,
            &:hover {
              border: 1px solid red;
            }
          }
        }
      }
    }
  }
}

.site-header,
.center-content .content-area,
.center-content .content-area .si-left-post-layout,
.center-content .content-area .si-right-post-layout,
.widget-area,
.content-wrapper {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.site-header {
  margin-bottom: 0;
  position: relative;
  z-index: 10;



  .container {
    display: flex;
    align-items: center;
  }

  .site-branding {
    display: flex;
    align-items: center;
    z-index: 1;
    padding-left:12px;

    > a {
      display: inline-block;
      width: 270px;

      img {
        cursor: pointer;
      }
    }

    .site-title {
      font: 700 26px/1em Roboto;
      margin: 0;

      a {
        color: #000;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.site-breadcrumbs {
  font: 12px/1em Roboto;
  color: #7e8392;
  padding-top: 10px;

  .separator {
    color: #7e8392;
  }

  a {
    color: #7e8392;
    text-decoration: none;
    transition: all 0.25s ease;
  }

  a:hover,
  .last {
    color: #000;
  }
}

.all-leagues-list {
  margin-bottom: 30px;
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #eaeaea;
  }

  ul {
    list-style: none;
    margin: 0;
    font: 500 16px/1.2em Roboto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 30px;

    li {
      border-bottom: 1px solid #eaeaea;

      a {
        text-decoration: none;
        color: #000;
        padding: 11px 5px;
        display: block;
        background-color: transparent;
        transition: all 0.35s ease;

        &:hover {
          background-color: rgba(25, 116, 210, 0.05);
        }
      }
    }
  }
}

.fullwidth-latest-post {
  position: relative;

  figure {
    position: relative;
    overflow: hidden;
    margin: 0 0 37px;
    background: #eee;

    picture {
      div {
        line-height: 0;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    .post_teams_logo {
      position: absolute;
      top: 0;
      right: 0;
      padding: 12px;

      img {
        width: 65px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 240px;
      background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 100%);
      bottom: 0;
      left: 0;
      z-index: 0;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      color: #fff;
      padding: 0 27px 40px;

      h2 {
        font: 700 26px/1.2em Montserrat;
        text-transform: uppercase;
        margin: 0 0 15px;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            color: #fdc500;
          }
        }
      }

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      time {
        font: 700 14px/1.2em Montserrat;
      }

      .read-more {
        position: relative;
        font: 700 14px/1.2em Montserrat;
        text-decoration: none;
        white-space: nowrap;
        color: #fff;
        padding-right: 20px;
        display: inline-block;
        transition: all 0.25s ease;

        i {
          font-style: normal;
          position: absolute;
          right: 0;
          top: 50%;
          width: 14px;
          height: 2px;
          background-color: #fdc500;
          transform: translateY(-50%);
          border-radius: 2px;
          transition: all 0.25s ease;

          &:after,
          &:before {
            content: "";
            position: absolute;
            right: 1px;
            top: 0;
            width: 9px;
            height: 2px;
            background-color: #fdc500;
            transform-origin: center right;
            border-radius: 2px;
            transition: all 0.25s ease;
          }

          &:after {
            transform: rotate(45deg);
          }

          &:before {
            transform: rotate(-45deg);
            right: 1px;
          }
        }

        &:hover {
          text-decoration: none;
          color: #fdc500;

          i {
            &:after {
              transform: rotate(35deg);
            }

            &:before {
              transform: rotate(-35deg);
            }
          }
        }
      }
    }
  }
}

.latest-post-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 14px;
  margin-bottom: 10px;

  > div {
    margin-bottom: 14px;
    cursor: default;
  }

  figure {
    margin: 0;
    padding: 0;
    position: relative;
    cursor: default;
    overflow: hidden;

    time {
      position: absolute;
      right: 10px;
      z-index: 1;
      top: 10px;
      background-color: #2365b3;
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      padding: 2px 4px;
      border-radius: 4px;
    }

    > div {
      position: relative;
      line-height: 0;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000000 100%);
        z-index: 0;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      left: 0;
      bottom: 0;
      color: #fff;
      right: 0;
      z-index: 1;
      padding: 18px 15px;

      time {
        display: block;
        margin-bottom: 10px;
        position: absolute;
        top: 8px;
        right: 8px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        background: rgba(5, 23, 38, 0.32);
        width: 73px;
        text-align: center;
        line-height: 24px;
      }

      h2 {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 1em;
        font-weight: bold;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            color: #fdc500;
          }
        }
      }

      p {
        font-size: 16px;
        margin: 0;
      }
    }
  }

  .post_teams_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 7px;

    &:after {
      display: none;
    }

    img {
      width: 32px;
      margin: 0 5px;
    }
  }
}

.latest-post-list ~ si-lb-widget {
  box-shadow: none !important;

  &::part(si-content) {
    border-radius: 10px;
    box-shadow: none;
  }
}

.ab-facts-list {
  li {
    line-height: 20px;

    img {
      vertical-align: middle;
    }
  }
}

/*========= MENU =========*/

.main-navigation {
  .menu-toggle {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(12px, 19px);
    display: none;
    width: 32px;
    height: 20px;
    z-index: 10;

    &:hover {
      background: none !important;
    }

    > span {
      transform: translateY(6px);
      display: inline-block;
      pointer-events: none;
    }

    > span > em {
      position: relative;
      width: 32px;
      height: 20px;
      display: block;
    }

    > span > em,
    > span > em:before,
    > span > em:after {
      width: 25px;
      height: 3px;
      background-color: #fff;
      border-radius: 3px;
    }

    > span > em:before,
    > span > em:after {
      content: "";
      display: block;
      position: absolute;
    }

    > span > em:before {
      top: -8px;
      width: 22px;
    }

    > span > em:after {
      top: -16px;
    }
  }

  //toggle hover
  &.toggled .menu-toggle {
    > span > em {
      width: 22px;
      transform: translate3d(0, -10px, 0) rotate(-45deg);

      &:before {
        top: 0;
        transform: rotate(-90deg);
      }

      &:after {
        top: 0;
        opacity: 0;
      }
    }
  }
}

#general-menu #menus {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

#language-menu {
  position: relative;
  z-index: 9999;

  &.mobile {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 11;
    transform: translate(-12px, -50%);

    ul {
      display: block !important;

      ul {
        background-color: #000;
      }
    }
  }

  .language-dd {
    display: flex;
    align-items: center;
    float:right;
    width:120px;
    color: #fff;
    outline: none;
    font-size: 16px;
    line-height: 1em;
    text-transform: capitalize;
    font-weight: 500;
    padding: 13px 15px;
    border-radius: 9px;
    transition: all 0.25s ease-out;

    svg {
      margin-right: 7px;
      cursor: pointer;
      transform: rotateY(0deg);
      transition: all 0.35s ease-out;
    }
  }

  ul {
    li {
      ul {
        box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
        background-color: #274d97;
        padding: 10px 0;
        display:none;

        li {
          float: none;
          display: list-item;
          position: relative;
          margin: 0;
          padding: 5px 10px;
          box-sizing: border-box;

          a {
            color: #fff;
            transition: all 0.25s ease-out;

            &:hover {
              color: #ffca39;
            }
          }
        }
      }
    }
  }

  &:hover {
    &:not(.mobile) .language-dd {
      background: rgba(27, 125, 207, 0.2);
    }

    .language-dd {
      svg {
        transform: rotateY(-180deg);
      }
    }
  }
}

.widget-area,
.content-area {
  background-color: #fff;
  padding: 20px;

  .widget_si_ab_widget > * {
    margin: 0;
  }
}

.widget-area {
  .widget_leagues_menu_widget ~ .widget_text {
    text-align: right;
    padding-top: 10px;
    text-transform: capitalize;
  }
}

.center-content {
  &.bg-content .entry-content,
  &.home-page .entry-content {
    background-color: #fff;
    padding: 17px 20px 30px;
  }

  &.home-page {
    .content-area {
      padding: 0;

      si-lb-widget {
        &:not(:nth-last-of-type(1)) {
          padding-bottom: 48px;
          margin-bottom: 48px;
          border-bottom: 1px solid $bg-color;
        }

        &:nth-last-of-type(1) {
          margin-bottom: 30px;
        }
      }
    }

    .page-title {
      display: none;
    }
  }

  .content-area {
    .si-left-post-layout,
    .si-right-post-layout {
      background: #fff;
      padding: 17px 20px 30px;
    }

    si-lb-widget ~ .page {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      padding-top: 48px;
    }

    .si-match-header-wrapper {
      si-lb-widget {
        margin-bottom: 0 !important;
        background: #fff;
        box-shadow: none;
        border-bottom: none !important;
        padding-bottom: 0 !important;
      }
    }
  }
}

.left-sidebar,
.center-content,
.right-sidebar {
  padding-top: 10px;
}

.widget-area {
  padding: 30px 20px;

  h3 {
    font: 700 18px/1em Montserrat;
    color: $text-color;
    margin: 0 0 25px;
  }
}

.content-area {
  height: 100%;
  position: relative;

  .site-main {
    height: 100%;
    position: relative;
    z-index: 1;
  }
}

.main-navigation {
  &:not(.toggled) {
    #primary-menu {
      font: 700 14px/1em Montserrat;

      > li {
        margin: 0 25px !important;
        position: relative;

        &:nth-child(1) {
          margin-left: 0;
        }

        a {
          color: #fff;
          padding: 13px 15px;
          border-radius: 9px;
          transition: all 0.25s ease-out;
        }

        &:hover {
          a {
            background: rgba(27, 125, 207, 0.2);
          }
        }

        &.current-menu-item, &.current-menu-ancestor {
          > a {
            box-shadow: inset 0 0 0 3px #fff;
            background: none;
            cursor: default !important;
          }
        }
      }
    }
  }

  .sub-menu {
    background-color: #274d97;
    padding: 10px 0;

    li {
      a {
        background: none !important;
        border-radius: 0;
      }

      &.current-menu-item a,
      &:hover a {
        color: #ffca39 !important;
      }
    }
  }

  .mobile-leagues-menu,
  .mobile-tabs {
    display: none;
  }

  &.toggled {
    #general-menu {
      visibility: visible;
      transform: translate(0%, 57px);
      z-index: 10;
      transition: all 0.2s ease;
    }
  }
}

#si-leagues-menu-widget {
  margin: 0 -20px;

  h3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .leagues {
    margin-bottom: 30px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      font: 400 14px/1em Montserrat;

      a {
        color: #000;
        padding: 11px 25px;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ededee;

        picture {
          line-height: 0;
          margin: 0 15px 0 0;
          padding: 0;
          width: 32px;

          img {
            width: 100%;
          }
        }

        > * {
          pointer-events: none;
        }
      }

      &:hover a:not(.active) {
        color: $primary-color;
      }

      .active {
        background: rgba(25, 116, 210, 0.2);
        border-bottom: 1px solid transparent;
        cursor: default !important;
        color: #000;
      }

      &.hidden {
        opacity: 0;
        max-height: 0;
        font-size: 0;
        line-height: 0;
        margin: 0;
      }
    }
  }

  .read-more-state:checked ~ ul .hidden {
    margin-bottom: 10px;
    font: 400 16px/1em Montserrat !important;
  }

  .more {
    position: relative;
    font: 400 16px/1em Montserrat;
    color: $primary-color;
    cursor: pointer;
    margin: 15px 0 0 24px;
    display: block;
    z-index: 1;
  }
}

#dt9-leagues-menu-widget {

  overflow-x: scroll !important;
  overflow-y:hidden !important;

  h3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .dt9-leagues{
      padding-left:22px;
      padding-right:22px;
  }

  .dt9-league-button{
    width:22px;
    height:42px;
    border:1px #e5e5e5 solid;
    background: #e5e5e5;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#2560ac;
    font-size:14px;
    font-weight: bold;
    top: 69px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
    div{
      cursor: pointer;
    }

    &:hover{
      background: rgb(168, 168, 168);
    }
  }

  .dt9-league-left-button{
    left:0px;
  }

  .dt9-league-right-button{
    right:0px;
  }


  .dt9-league-card{
    width: 170px;
    float:left;
    background: #FFF;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    font: 400 14px/1em Montserrat;
    min-height: 42px;
    a {
      color: #000;
      padding: 6px 12px;
      text-decoration: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      picture {
        line-height: 0;
        margin: 0 7px 0 0;
        padding: 0;
        width: 25px;
        height:25px;
        img {
          width: 32px;
          height: auto;
        }
      }

      > * {
        pointer-events: none;
      }
    }

    &:hover a:not(.active) {
      color: $primary-color;
    }

    .active {
      background: rgba(25, 116, 210, 0.2);
      border-bottom: 1px solid transparent;
      cursor: default !important;
      color: #000;
    }

    &.hidden {
      opacity: 0;
      max-height: 0;
      font-size: 0;
      line-height: 0;
      margin: 0;
    }
  }


  .read-more-state:checked ~ ul .hidden {
    margin-bottom: 10px;
    font: 400 16px/1em Montserrat !important;
  }

  .more {
    position: relative;
    font: 400 16px/1em Montserrat;
    color: $primary-color;
    cursor: pointer;
    margin: 15px 0 0 24px;
    display: block;
    z-index: 1;
  }
}



#dt9-leagues-menu-widget::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

#dt9-leagues-menu-widget::-webkit-scrollbar-button:start:decrement,
#dt9-leagues-menu-widget :-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}

#dt9-leagues-menu-widget::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
}

#dt9-leagues-menu-widget::-webkit-scrollbar-track-piece {
    background-color: #eee;
    -webkit-border-radius: 3px;
}

#dt9-leagues-menu-widget::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}

#dt9-leagues-menu-widget::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}

.si-match-menu {
  font: 500 16px/1em Roboto;
  padding: 48px 0;
  margin: 0;
  background: #fff;
  position: relative;

  menuitem {
    margin: 0 45px !important;
    position: relative;

    a {
      color: #b7b8bb;
      text-decoration: none;
    }

    &:after {
      content: "";
      width: 0;
      height: 3px;
      background-color: $primary-color;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) translateY(10px);
      transition: all 0.25s ease-out;
    }

    &:hover,
    &.active {
      a {
        color: $primary-color;
      }

      &:after {
        width: 100%;
        transform: translateX(-50%) translateY(10px);
      }
    }
  }
}

.empty-footer {
  display: none;
}

.site-footer {
  background-color: #2560ac;
  min-height: 260px;
  box-sizing: border-box;
  padding: 30px 0;
  color: #fff;

  .right-align {
    text-align: right;
  }

  h3 {
    color: #fff;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      text-transform: capitalize;

      a {
        font-size: 12px;
        line-height: 1em;
        color: #fff;
        text-decoration: none;
        transition: all 0.25s ease;
      }

      &.current-menu-item a,
      a:hover {
        color: #ffca39;
      }
    }
  }
}

.si-recent-posts-widget {
  margin: 0 0 30px;
  list-style: none;

  li {
    &:not(:last-child) {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ededee;
    }

    figure {
      margin: 0;
      padding: 0;
      display: flex;

      div {
        background-color: #ededee;
        line-height: 0;
        min-width: 72px;
        min-height: 72px;
      }

      img {
        width: 100%;
      }
    }

    figcaption {
      margin-left: 10px;

      .title {
        font: 400 15px/1.2em Roboto;
        color: #000;
        text-decoration: none;
        transition: all 0.25s ease;

        &:hover {
          text-decoration: none;
          color: $primary-color;
        }
      }

      a {
        display: block;
      }

      button {
        margin-top: 5px;
      }
    }
  }
}

#bitnami-banner {
  display: none;
}

.landing-subpage-content {
  margin-top: 0;

  .bg {
    padding: 40px 0;
    background: linear-gradient(175.62deg, rgba(30, 110, 132, 0.83) 35.35%, rgba(56, 0, 54, 0.7) 96.45%),
      url("https://dh9jffmaua1pl.cloudfront.net/wp/dominik-kuhn-kEHp1gUJNO8-unsplash-compressed.jpg") no-repeat;
    background-size: cover;
  }

  .bg-container {
    text-align: center;

    .widget {
      width: 750px;
      margin: 0 auto;
    }

    figure {
      img {
        max-width: 200px;
      }
    }
  }

  .error-message {
    font-size: 20px;
    color: #ffca39;
    text-align: center;
  }

  .widget-container {
    background: #fff;
    border-radius: 4px;
    padding: 25px 90px;
    margin-top: -5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    overflow: hidden;

    > div {
      margin-bottom: 20px;
      display: block;

      si-lb-widget {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }
    }

    &.footer {
      margin-top: 0;
      display: flex;
      justify-content: center;

      > div {
        width: 100%;

        > * {
          margin: 0 auto;
        }
      }
    }
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 30px 0 20px;
}

.privacy-info {
  color: #fff;
  text-align: right;
  font-size: 12px;

  a {
    color: #ffca39;
  }
}

/*========= GRID =========*/
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
  padding-right: 5px;
  padding-left: 5px;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.content-wrapper {
  background: #fff;
  padding: 30px 20px;
}

.center-content.bg-content .entry-content .content-wrapper {
  background: none;
  padding: 0;
  box-shadow: none;
}

.nav-links {
  > * {
    a {
      text-decoration: none;
      color: #000;
      padding: 11px 0;
      border-bottom: 1px solid #ededee;
      font: 400 14px/1em Montserrat;
      display: block;
      transition: all 0.2s ease;

      span {
        pointer-events: none;
      }

      &:hover {
        color: #1974d2;
      }
    }
  }

  .nav-previous {
    padding-right: 10px;
  }

  .nav-next {
    padding-left: 10px;
  }
}

.entry-group {
  figure {
    min-height: 300px;
    position: relative;
    background-color: $bg-color;
    margin: 0 0 20px;

    .post-thumbnail {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 50%;
        background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 100%);
        bottom: 0;
        left: 0;
        z-index: 0;
      }

      img {
        width: 100%;
      }
    }

    figcapture {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0 30px 60px;

      .entry-title {
        margin-bottom: 0;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        text-align: center;
      }
    }
  }

  .entry-header.mobile {
    display: none;
    margin-bottom: 15px;

    .entry-title {
      margin-bottom: 0;
    }
  }
}

.entry-meta {
  display: none;
}

.si-default-post-layout {
  background: #fff;
  box-shadow: none !important;

  .entry-content {
    .wp-block-si-widget {
      si-lb-widget {
        box-shadow: none;
        background: none;

        &::part(si-content) {
          border: 1px solid #ededee;
          border-radius: 10px;
          box-shadow: none;
        }
      }
    }

    &:after,
    &:before {
      display: none;
    }

    .parent-selector + si-lb-widget,
    .parent-selector + .wp-block-si-widget,
    .parent-selector + .wp-block-group > * .wp-block-si-widget:nth-child(1) {
      margin-top: -65px;
    }

    .wp-block-group {
      padding: 0 30px;
    }
  }
}

.match-subpage-widgets {
  &.stats {
    margin: 0 -20px;

    si-lb-widget {
      margin-bottom: 30px !important;
      padding-bottom: 48px;
      border-bottom: none;

      &::part(si-content) {
        box-shadow: none;
      }
    }

    h2 {
      position: relative;
      padding: 16px 20px;
      margin: 0;
      background: #fff;
      border-top: 1px solid $bg-color;
      border-bottom: 1px solid $bg-color;
    }

    > * {
      padding: 0 20px;
    }
  }

  &.articles {
    .si-match-article {
      figure {
        img {
          width: 100%;
        }
      }

      figcaption {
        h2 a {
          text-decoration: none;
          color: #000;
          transition: all 0.2s ease;

          &:hover {
            color: #1974d2;
          }
        }
      }
    }
  }

  &.odds {
    margin: 0 -20px;

    si-lb-widget {
      padding-bottom: 0;
      padding-top: 10px;
      margin-bottom: 48px;
      border-bottom: none;
      border-top: 1px solid $bg-color;
    }
  }

  &.table {
    si-lb-widget {
      &::part(si-content) {
        box-shadow: none;
      }
    }
  }

  &.evergreen-seo-text {
    .wp-block-group {
      margin-bottom: 30px;
    }
  }
}

.leagues-center-widget {
  margin-bottom: 48px;
  padding-bottom: 17px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $bg-color;
    bottom: 0;
    left: -20px;
  }
}

.leagues-bottom-widgets {
  margin: 0 -20px;
}

.error-page {
  text-align: center;
  padding: 90px 0 60px;

  h2 {
    font-size: 35px;
    line-height: 1em;
    color: #c7c5c5;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 25px;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: 50px;
    color: #c7c5c5;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 230px;
    line-height: 1em;
    color: #c7c5c5;
    margin-bottom: 30px;

    svg {
      width: 230px;
      fill: #4dace8;
    }

    em {
      font-style: normal;
    }
  }

  button {
    outline: none;
    margin: 3px;
    box-sizing: border-box;
    display: inline-block;
    text-transform: capitalize;
    white-space: nowrap;
    background-color: #4dace8;
    box-shadow: 0 0 0 1px #4dace8;
    border: none;
    font: 700 18px/1em "Montserrat";
    color: #fff;
    padding: 13px 15px;
    border-radius: 9px;
    transition: all 0.25s ease-out;

    a {
      transition: all 0.25s ease-out;
    }

    &:hover {
      background-color: transparent;

      a {
        color: #4dace8;
      }
    }
  }
}
/*========= MEDIA =========*/

@media only screen and (max-width: 600px) {
  #dt9-leagues-menu-widget{
    display:none !important;
  }
}

@media only screen and (min-width: 768px) {
  #dt9-leagues-menu-widget{
    display:fixed !important;
  }
}

@media (min-width: 1340px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px;
  }

  .si-match-header-wrapper {
    min-height: 301px;
  }

  .landing-subpage-content .bg {
    min-height: 857px;
  }

  .landing-subpage-content .widget-container > div si-lb-widget {
    min-height: 300px;
  }
}

@media (min-width: 1200px) {
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9 {
    width: 100%;
    margin: 0;
  }

  .fullwidth-latest-post figure picture div img {
    height: 416px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1339px) {
  .site-header > .bg:after {
    transform: translate(40%, 0%) rotate(30deg);
    -webkit-mask-image: linear-gradient(80deg, rgba(0, 0, 0, 0) 5%, black 15%);
  }

  .si-match-menu menuitem {
    margin: 0 20px !important;
  }

  .site-header .container {
    justify-content: space-between;
  }

  .main-navigation {
    float: none;
    width: 100%;
  }

  .main-navigation:not(.toggled) #primary-menu > li {
    margin: 0 15px;

    a {
      padding: 13px 10px;
    }
  }

  .landing-subpage-content .widget-container {
    grid-template-columns: repeat(2, 1fr);

    &.footer {
      si-lb-widget {
        max-width: 100% !important;
      }
    }

    > div {
      &:nth-last-of-type(1) {
        grid-column: span 2 / auto;
      }
    }
  }

  .landing-subpage-content .bg-container .widget {
    width: 80%;
  }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .col-md-3,
  .col-md-6,
  .col-md-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: auto;
    max-width: none;
  }

  .site-header > .bg:after {
    transform: translate(40%, 0%) rotate(30deg);
    -webkit-mask-image: linear-gradient(80deg, rgba(0, 0, 0, 0) 5%, black 15%);
  }

  #si-leagues-menu-widget {
    display: flex;
    justify-content: space-between;
  }

  .widget-area {
    margin-bottom: 12px;
  }

  .main-navigation {
    float: none;
    width: auto;

    .sub-menu {
      left: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      background: none;
      padding: 0 0 0 20px;

      li {
        width: 100%;

        &:nth-last-child(1) {
          border-bottom: none !important;
        }
      }
    }

    &:not(.toggled) {
      #primary-menu {
        font: 15px/1em Roboto;

        > li {
          margin: 0 10px;

          &:after {
            height: 2px;
          }
        }
      }
    }
  }

  .main-navigation .menu-toggle {
    display: block;
  }

  .site-header .site-branding > a {
    width: 170px;
  }

  .site-header .container {
    justify-content: space-between;
  }

  .left-sidebar {
    display: none;
  }

  .site-branding-wrapper {
    margin-bottom: 0;
  }

  .site-header {
    padding: 0;
    position: fixed;
    width: 100%;

    .container {
      display: block;
    }
  }

  .site-header .site-branding {
    justify-content: center;
  }

  .site-header .site-branding > a {
    width: 150px;
  }

  #page {
    > .container {
      padding-top: 72px;
    }
  }

  #general-menu {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    transform: translate(-101%, 57px);
    visibility: hidden;
    transition: all 0.2s ease;

    #primary-menu {
      font: 400 16px/1.7em Roboto !important;
      flex-direction: column;
      box-sizing: border-box;

      li {
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);

        a {
          color: #fff;
          padding: 10px 0;
          border-radius: 0;
          transition: all 0.2s ease;
        }

        &:after {
          display: none;
        }

        &.active > a,
        &.current-menu-item > a,
        &:hover > a {
          color: $accents-color;
        }
      }
    }

    .mobile-tabs {
      text-align: center;
      display: block;
      margin-right: 20px;

      ul {
        display: flex;
        flex-direction: column;
        font-size: 12px;

        > li {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px 20px;
          cursor: pointer;
          color: #fff;
          transition: all 0.2s ease;

          svg {
            fill: #fff;
            pointer-events: none;
          }

          &:not(:last-child) {
            margin-bottom: 1px;
          }
        }

        li.active,
        li:hover {
          color: $accents-color;
          background-color: rgba(255, 255, 255, 0.1);

          svg {
            fill: $accents-color;
          }
        }
      }
    }

    .menu,
    .mobile-leagues-menu {
      display: none;

      &.show {
        display: flex;
      }
    }

    .mobile-leagues-menu {
      flex-direction: column;

      li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);

        a {
          color: #fff;
          padding: 10px 0;
          transition: all 0.2s ease;
        }

        &.active a,
        &:hover a {
          color: $accents-color;
        }
      }
    }

    #menus {
      display: block;
    }
  }

  #language-menu {
    width: 200px;
    float: right;
    &:not(.mobile) {
      display: none;
    }

    &.mobile {
      display: block;
    }


    &:hover{
      ul {
        li {
          ul {
            display: block;
          }
        }
      }
    }

  }

  .widget-area {
    padding-top: 30px;
  }

  .entry-content {
    margin: 0;
  }

  .entry-title {
    font-size: 20px;
  }

  .entry-group {
    figure {
      min-height: 200px;
    }
  }

  .widget-area {
    margin-bottom: 12px;
  }

  .left-sidebar {
    order: 2;
  }

  .center-content {
    order: 0;
  }

  .right-sidebar {
    order: 1;
  }

  .si-match-menu {
    justify-content: space-around;
    font-size: 15px;

    menuitem {
      margin: 0 10px !important;
    }
  }

  .post,
  .page {
    margin: 0;
  }

  .left-sidebar,
  .center-content,
  .right-sidebar {
    padding-top: 0;
  }

  .site-breadcrumbs {
    transform: translateY(60px);
  }

  .landing-subpage-content .bg-container .widget {
    width: 100%;
  }

  .landing-subpage-content .widget-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 25px 15px;

    &.footer {
      si-lb-widget {
        max-width: 100% !important;
      }
    }
  }

  .latest-post-list {
    grid-template-columns: 1fr 1fr;
  }

  .fullwidth-latest-post figure {
    margin: 0 0 15px;

    figcaption {
      padding: 0 20px 20px;

      h2 {
        font-size: 20px;
      }
    }
  }

  .error-page {
    h2 {
      font-size: 27px;
    }

    h3 {
      font-size: 20px;
    }

    > div {
      font-size: 130px;

      svg {
        width: 130px;
      }
    }
  }

  .site-footer {
    .column {
      margin-bottom: 30px;
      text-align: left;
    }
  }

  .si-default-post-layout .entry-content .parent-selector + si-lb-widget,
  .si-default-post-layout .entry-content .parent-selector + .wp-block-si-widget,
  .si-default-post-layout .entry-content .parent-selector + .wp-block-group > * > .wp-block-si-widget:nth-child(1) {
    margin-top: 0;
  }

  .entry-group figure figcapture {
    padding: 30px;
  }

  .si-default-post-layout .entry-content .parent-selector ~ * {
    padding-left: 0;
    padding-right: 0;
  }

  .entry-group figure figcapture .entry-header {
    display: none;
  }

  .entry-group .entry-header.mobile {
    display: block;
  }

  .privacy-info {
    text-align: left;

    > div {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 450px) {
  .container.content {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }

  .widget-area,
  .content-area {
    padding: 15px;
  }

  .center-content.home-page .content-area si-lb-widget:not(:nth-last-of-type(1)) {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .center-content .content-area si-lb-widget ~ .page {
    padding-top: 15px;
  }

  .match-subpage-widgets.stats si-lb-widget {
    margin-bottom: 15px !important;
    padding-bottom: 15px;
  }

  .match-subpage-widgets.odds si-lb-widget:not(:nth-last-of-type(1)) {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .latest-post-list {
    grid-template-columns: 1fr;
  }

  .entry-group {
    figure {
      min-height: 150px;
    }
  }
}
