/*!
Theme Name: comparaBet
Theme URI: https://sportsinnovation.dk
Author: Sports Innovation
Author URI: https://sportsinnovation.dk
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: comparebet
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

comparebet is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*//*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}body,button,input,select,optgroup,textarea{color:#404040;font-family:sans-serif;font-size:16px;font-size:1rem;line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both}p{margin-bottom:1.5em}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:15px;font-size:.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:15px;font-size:.9375rem}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}body{background:#fff}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:bold}dd{margin:0 1.5em 1.5em}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}button,input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;color:rgba(0,0,0,0.8);font-size:12px;font-size:.75rem;line-height:1;padding:.6em 1em .4em}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:#ccc #bbb #aaa}button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{border-color:#aaa #bbb #bbb}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}textarea{width:100%}a{color:#fff}a:visited{color:#fff}a:hover,a:focus,a:active{color:#ebebeb}a:focus{outline:thin dotted}a:hover,a:active{outline:0}.main-navigation{clear:both;display:block;float:left;width:100%}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li:hover>ul,.main-navigation ul ul li.focus>ul{left:100%}.main-navigation ul ul a{width:240px}.main-navigation ul li:hover>ul,.main-navigation ul li.focus>ul{left:auto}.main-navigation li{float:left;position:relative}.main-navigation a{display:block;text-decoration:none}.menu-toggle,.main-navigation.toggled ul{display:block}@media screen and (min-width: 37.5em){.menu-toggle{display:none}.main-navigation ul{display:block}}.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em;overflow:hidden}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{float:left;width:50%}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{float:right;text-align:right;width:50%}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#content[tabindex="-1"]:focus{outline:0}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed}.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.sticky{display:block}.post,.page{margin:0 0 1.5em}.updated:not(.published){display:none}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}embed,iframe,object{max-width:100%}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em}.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%}.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.33%}.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery-columns-7 .gallery-item{max-width:14.28%}.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.11%}.gallery-caption{display:block}:not(:disabled){cursor:default}h1{font:700 26px/1.5em Roboto;color:#000;margin:0 0 30px}h1 a{color:#000;transition:all 0.25s ease}h1 a:visited{color:#000}h1 a:hover{text-decoration:none;color:#1974d2}h2{font:700 18px/1.45em Montserrat;color:#000;margin:0 0 15px}p+h2{margin-top:40px}h3{font:500 16px/1em Roboto;color:#000;margin:0 0 15px}p+h3{margin-top:40px}h4{font:400 16px/1em Roboto;color:#000;margin:0 0 15px}p+h4{margin-top:40px}h5{font:400 16px/1em Roboto;color:#535353;margin:0 0 15px}p+h5{margin-top:40px}h6{font:500 12px/1em Roboto;color:#000;margin:0 0 15px}p+h6{margin-top:40px}body{font:400 16px/1.7em Roboto;margin-bottom:0 !important;color:#000;overflow-x:hidden;height:100%;display:flex;flex-direction:column}p{font-size:16px;line-height:1.5em;color:#000;margin:0}p a{text-decoration:none;color:#1974d2;transition:all 0.25s ease}p a:focus,p a:visited{color:#1974d2}p a:hover{color:#205790}a{cursor:pointer !important;text-decoration:none}.post,.page{margin:0 0 45px}.page .entry-header{text-align:center}ul,ol{padding:0;margin:0 0 0 15px}.page-content,.entry-content,.entry-summary{margin:0}.entry-content si-lb-widget{margin-top:0}.entry-content si-lb-widget:not(:nth-last-of-type(1)){padding-bottom:48px;margin-bottom:48px;border-bottom:1px solid #e5e5e5}.entry-content si-lb-widget:nth-last-of-type(1){margin-bottom:30px}button,button,input[type="button"],input[type="reset"],input[type="submit"]{box-shadow:none;box-sizing:border-box;display:inline-block;text-transform:capitalize;white-space:nowrap;background-color:#004983;color:#fff;outline:none;line-height:32px;font-size:12px;padding:0 12px;border:1px solid #b2b2b2;border-image:initial;border-radius:4px;cursor:pointer;transition:all 0.25s ease}button:not(:disabled):active,button:not(:disabled):active,input[type="button"]:not(:disabled):active,input[type="reset"]:not(:disabled):active,input[type="submit"]:not(:disabled):active{box-shadow:rgba(0,153,252,0.25) 0 0 0 3px}button:not(:disabled):hover,button:not(:disabled):hover,input[type="button"]:not(:disabled):hover,input[type="reset"]:not(:disabled):hover,input[type="submit"]:not(:disabled):hover{background-color:#015699;border-color:#015699}button:focus,button:focus,input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus{outline:none}button a,button a:visited,button a:hover,button a,button a:visited,button a:hover,input[type="button"] a,input[type="button"] a:visited,input[type="button"] a:hover,input[type="reset"] a,input[type="reset"] a:visited,input[type="reset"] a:hover,input[type="submit"] a,input[type="submit"] a:visited,input[type="submit"] a:hover{color:#fff;text-decoration:none}#page{background-color:#e5e5e5}#page>.container{margin-bottom:30px}.si-entry-title{margin-bottom:50px;text-align:center}.site-branding-wrapper{background:#000;position:relative;z-index:1;padding:15px 0}.site-branding-wrapper .header-sidebar{justify-items:center;align-items:center;flex:1;display:flex}.site-branding-wrapper .header-sidebar .widget-area{padding:0}.site-branding-wrapper .header-sidebar .widget-area .widget_polylang{margin:0;position:absolute;top:50%;right:0;transform:translateY(-50%)}.site-branding-wrapper .header-sidebar .widget-area .widget_polylang ul{list-style:none;margin:0;display:flex}.site-branding-wrapper .header-sidebar .widget-area .widget_polylang ul li{width:20px;height:20px;display:flex;margin:0 1px;align-items:center;justify-content:center;border:1px solid transparent}.site-branding-wrapper .header-sidebar .widget-area .widget_polylang ul li.current-lang,.site-branding-wrapper .header-sidebar .widget-area .widget_polylang ul li:hover{border:1px solid red}.site-header,.center-content .content-area,.center-content .content-area .si-left-post-layout,.center-content .content-area .si-right-post-layout,.widget-area,.content-wrapper{box-shadow:0 5px 5px -5px rgba(0,0,0,0.5)}.site-header{margin-bottom:0;position:relative;z-index:10}.site-header .container{display:flex;align-items:center}.site-header .site-branding{display:flex;align-items:center;z-index:1;padding-left:12px}.site-header .site-branding>a{display:inline-block;width:270px}.site-header .site-branding>a img{cursor:pointer}.site-header .site-branding .site-title{font:700 26px/1em Roboto;margin:0}.site-header .site-branding .site-title a{color:#000;text-decoration:none}.site-header .site-branding .site-title a:hover{text-decoration:none}.site-breadcrumbs{font:12px/1em Roboto;color:#7e8392;padding-top:10px}.site-breadcrumbs .separator{color:#7e8392}.site-breadcrumbs a{color:#7e8392;text-decoration:none;transition:all 0.25s ease}.site-breadcrumbs a:hover,.site-breadcrumbs .last{color:#000}.all-leagues-list{margin-bottom:30px;position:relative}.all-leagues-list:after{content:"";display:block;width:100%;height:2px;position:absolute;bottom:-1px;left:0;background-color:#eaeaea}.all-leagues-list ul{list-style:none;margin:0;font:500 16px/1.2em Roboto;display:grid;grid-template-columns:repeat(2, 1fr);grid-gap:10px 30px}.all-leagues-list ul li{border-bottom:1px solid #eaeaea}.all-leagues-list ul li a{text-decoration:none;color:#000;padding:11px 5px;display:block;background-color:transparent;transition:all 0.35s ease}.all-leagues-list ul li a:hover{background-color:rgba(25,116,210,0.05)}.fullwidth-latest-post{position:relative}.fullwidth-latest-post figure{position:relative;overflow:hidden;margin:0 0 37px;background:#eee}.fullwidth-latest-post figure picture div{line-height:0}.fullwidth-latest-post figure img{width:100%;object-fit:cover}.fullwidth-latest-post figure .post_teams_logo{position:absolute;top:0;right:0;padding:12px}.fullwidth-latest-post figure .post_teams_logo img{width:65px}.fullwidth-latest-post figure:after{content:"";position:absolute;width:100%;height:240px;background:linear-gradient(to top, black 0%, rgba(0,0,0,0) 100%);bottom:0;left:0;z-index:0}.fullwidth-latest-post figure figcaption{position:absolute;bottom:0;left:0;right:0;z-index:5;color:#fff;padding:0 27px 40px}.fullwidth-latest-post figure figcaption h2{font:700 26px/1.2em Montserrat;text-transform:uppercase;margin:0 0 15px}.fullwidth-latest-post figure figcaption h2 a{color:#fff;text-decoration:none}.fullwidth-latest-post figure figcaption h2 a:hover{color:#fdc500}.fullwidth-latest-post figure figcaption>div{display:flex;justify-content:space-between;align-items:center}.fullwidth-latest-post figure figcaption time{font:700 14px/1.2em Montserrat}.fullwidth-latest-post figure figcaption .read-more{position:relative;font:700 14px/1.2em Montserrat;text-decoration:none;white-space:nowrap;color:#fff;padding-right:20px;display:inline-block;transition:all 0.25s ease}.fullwidth-latest-post figure figcaption .read-more i{font-style:normal;position:absolute;right:0;top:50%;width:14px;height:2px;background-color:#fdc500;transform:translateY(-50%);border-radius:2px;transition:all 0.25s ease}.fullwidth-latest-post figure figcaption .read-more i:after,.fullwidth-latest-post figure figcaption .read-more i:before{content:"";position:absolute;right:1px;top:0;width:9px;height:2px;background-color:#fdc500;transform-origin:center right;border-radius:2px;transition:all 0.25s ease}.fullwidth-latest-post figure figcaption .read-more i:after{transform:rotate(45deg)}.fullwidth-latest-post figure figcaption .read-more i:before{transform:rotate(-45deg);right:1px}.fullwidth-latest-post figure figcaption .read-more:hover{text-decoration:none;color:#fdc500}.fullwidth-latest-post figure figcaption .read-more:hover i:after{transform:rotate(35deg)}.fullwidth-latest-post figure figcaption .read-more:hover i:before{transform:rotate(-35deg)}.latest-post-list{display:grid;grid-template-columns:1fr 1fr 1fr;grid-column-gap:14px;margin-bottom:10px}.latest-post-list>div{margin-bottom:14px;cursor:default}.latest-post-list figure{margin:0;padding:0;position:relative;cursor:default;overflow:hidden}.latest-post-list figure time{position:absolute;right:10px;z-index:1;top:10px;background-color:#2365b3;color:#fff;font-size:13px;font-weight:bold;padding:2px 4px;border-radius:4px}.latest-post-list figure>div{position:relative;line-height:0}.latest-post-list figure>div:after{content:"";position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(180deg, rgba(0,0,0,0) 30%, #000 100%);z-index:0}.latest-post-list figure img{width:100%;object-fit:cover}.latest-post-list figure figcaption{position:absolute;left:0;bottom:0;color:#fff;right:0;z-index:1;padding:18px 15px}.latest-post-list figure figcaption time{display:block;margin-bottom:10px;position:absolute;top:8px;right:8px;color:#fff;font-size:14px;font-weight:600;background:rgba(5,23,38,0.32);width:73px;text-align:center;line-height:24px}.latest-post-list figure figcaption h2{margin-bottom:0;font-size:13px;line-height:1em;font-weight:bold}.latest-post-list figure figcaption h2 a{color:#fff;text-decoration:none}.latest-post-list figure figcaption h2 a:hover{color:#fdc500}.latest-post-list figure figcaption p{font-size:16px;margin:0}.latest-post-list .post_teams_logo{display:flex;justify-content:center;align-items:center;position:absolute;top:0;left:0;padding-top:7px}.latest-post-list .post_teams_logo:after{display:none}.latest-post-list .post_teams_logo img{width:32px;margin:0 5px}.latest-post-list ~ si-lb-widget{box-shadow:none !important}.latest-post-list ~ si-lb-widget::part(si-content){border-radius:10px;box-shadow:none}.ab-facts-list li{line-height:20px}.ab-facts-list li img{vertical-align:middle}.main-navigation .menu-toggle{background:none;border:none;border-radius:0;padding:0;margin:0;line-height:0;cursor:pointer;position:absolute;top:0;left:0;transform:translate(12px, 19px);display:none;width:32px;height:20px;z-index:10}.main-navigation .menu-toggle:hover{background:none !important}.main-navigation .menu-toggle>span{transform:translateY(6px);display:inline-block;pointer-events:none}.main-navigation .menu-toggle>span>em{position:relative;width:32px;height:20px;display:block}.main-navigation .menu-toggle>span>em,.main-navigation .menu-toggle>span>em:before,.main-navigation .menu-toggle>span>em:after{width:25px;height:3px;background-color:#fff;border-radius:3px}.main-navigation .menu-toggle>span>em:before,.main-navigation .menu-toggle>span>em:after{content:"";display:block;position:absolute}.main-navigation .menu-toggle>span>em:before{top:-8px;width:22px}.main-navigation .menu-toggle>span>em:after{top:-16px}.main-navigation.toggled .menu-toggle>span>em{width:22px;transform:translate3d(0, -10px, 0) rotate(-45deg)}.main-navigation.toggled .menu-toggle>span>em:before{top:0;transform:rotate(-90deg)}.main-navigation.toggled .menu-toggle>span>em:after{top:0;opacity:0}#general-menu #menus{width:100%;display:flex;align-items:center;justify-content:right}#language-menu{position:relative;z-index:9999}#language-menu.mobile{display:none;position:absolute;top:50%;right:0;z-index:11;transform:translate(-12px, -50%)}#language-menu.mobile ul{display:block !important}#language-menu.mobile ul ul{background-color:#000}#language-menu .language-dd{display:flex;align-items:center;float:right;width:120px;color:#fff;outline:none;font-size:16px;line-height:1em;text-transform:capitalize;font-weight:500;padding:13px 15px;border-radius:9px;transition:all 0.25s ease-out}#language-menu .language-dd svg{margin-right:7px;cursor:pointer;transform:rotateY(0deg);transition:all 0.35s ease-out}#language-menu ul li ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);background-color:#274d97;padding:10px 0;display:none}#language-menu ul li ul li{float:none;display:list-item;position:relative;margin:0;padding:5px 10px;box-sizing:border-box}#language-menu ul li ul li a{color:#fff;transition:all 0.25s ease-out}#language-menu ul li ul li a:hover{color:#ffca39}#language-menu:hover:not(.mobile) .language-dd{background:rgba(27,125,207,0.2)}#language-menu:hover .language-dd svg{transform:rotateY(-180deg)}.widget-area,.content-area{background-color:#fff;padding:20px}.widget-area .widget_si_ab_widget>*,.content-area .widget_si_ab_widget>*{margin:0}.widget-area .widget_leagues_menu_widget ~ .widget_text{text-align:right;padding-top:10px;text-transform:capitalize}.center-content.bg-content .entry-content,.center-content.home-page .entry-content{background-color:#fff;padding:17px 20px 30px}.center-content.home-page .content-area{padding:0}.center-content.home-page .content-area si-lb-widget:not(:nth-last-of-type(1)){padding-bottom:48px;margin-bottom:48px;border-bottom:1px solid #e5e5e5}.center-content.home-page .content-area si-lb-widget:nth-last-of-type(1){margin-bottom:30px}.center-content.home-page .page-title{display:none}.center-content .content-area .si-left-post-layout,.center-content .content-area .si-right-post-layout{background:#fff;padding:17px 20px 30px}.center-content .content-area si-lb-widget ~ .page{border-top:1px solid rgba(0,0,0,0.12);padding-top:48px}.center-content .content-area .si-match-header-wrapper si-lb-widget{margin-bottom:0 !important;background:#fff;box-shadow:none;border-bottom:none !important;padding-bottom:0 !important}.left-sidebar,.center-content,.right-sidebar{padding-top:10px}.widget-area{padding:30px 20px}.widget-area h3{font:700 18px/1em Montserrat;color:#000;margin:0 0 25px}.content-area{height:100%;position:relative}.content-area .site-main{height:100%;position:relative;z-index:1}.main-navigation:not(.toggled) #primary-menu{font:700 14px/1em Montserrat}.main-navigation:not(.toggled) #primary-menu>li{margin:0 25px !important;position:relative}.main-navigation:not(.toggled) #primary-menu>li:nth-child(1){margin-left:0}.main-navigation:not(.toggled) #primary-menu>li a{color:#fff;padding:13px 15px;border-radius:9px;transition:all 0.25s ease-out}.main-navigation:not(.toggled) #primary-menu>li:hover a{background:rgba(27,125,207,0.2)}.main-navigation:not(.toggled) #primary-menu>li.current-menu-item>a,.main-navigation:not(.toggled) #primary-menu>li.current-menu-ancestor>a{box-shadow:inset 0 0 0 3px #fff;background:none;cursor:default !important}.main-navigation .sub-menu{background-color:#274d97;padding:10px 0}.main-navigation .sub-menu li a{background:none !important;border-radius:0}.main-navigation .sub-menu li.current-menu-item a,.main-navigation .sub-menu li:hover a{color:#ffca39 !important}.main-navigation .mobile-leagues-menu,.main-navigation .mobile-tabs{display:none}.main-navigation.toggled #general-menu{visibility:visible;transform:translate(0%, 57px);z-index:10;transition:all 0.2s ease}#si-leagues-menu-widget{margin:0 -20px}#si-leagues-menu-widget h3{margin-left:20px;margin-right:20px}#si-leagues-menu-widget .leagues{margin-bottom:30px}#si-leagues-menu-widget ul{margin:0;padding:0;list-style:none}#si-leagues-menu-widget ul li{margin:0;font:400 14px/1em Montserrat}#si-leagues-menu-widget ul li a{color:#000;padding:11px 25px;text-decoration:none;cursor:pointer;display:flex;align-items:center;border-bottom:1px solid #ededee}#si-leagues-menu-widget ul li a picture{line-height:0;margin:0 15px 0 0;padding:0;width:32px}#si-leagues-menu-widget ul li a picture img{width:100%}#si-leagues-menu-widget ul li a>*{pointer-events:none}#si-leagues-menu-widget ul li:hover a:not(.active){color:#1974d2}#si-leagues-menu-widget ul li .active{background:rgba(25,116,210,0.2);border-bottom:1px solid transparent;cursor:default !important;color:#000}#si-leagues-menu-widget ul li.hidden{opacity:0;max-height:0;font-size:0;line-height:0;margin:0}#si-leagues-menu-widget .read-more-state:checked ~ ul .hidden{margin-bottom:10px;font:400 16px/1em Montserrat !important}#si-leagues-menu-widget .more{position:relative;font:400 16px/1em Montserrat;color:#1974d2;cursor:pointer;margin:15px 0 0 24px;display:block;z-index:1}#dt9-leagues-menu-widget{overflow-x:scroll !important;overflow-y:hidden !important}#dt9-leagues-menu-widget h3{margin-left:20px;margin-right:20px}#dt9-leagues-menu-widget .dt9-leagues{padding-left:22px;padding-right:22px}#dt9-leagues-menu-widget .dt9-league-button{width:22px;height:42px;border:1px #e5e5e5 solid;background:#e5e5e5;position:fixed;display:flex;justify-content:center;align-items:center;color:#2560ac;font-size:14px;font-weight:bold;top:69px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer}#dt9-leagues-menu-widget .dt9-league-button div{cursor:pointer}#dt9-leagues-menu-widget .dt9-league-button:hover{background:#a8a8a8}#dt9-leagues-menu-widget .dt9-league-left-button{left:0px}#dt9-leagues-menu-widget .dt9-league-right-button{right:0px}#dt9-leagues-menu-widget .dt9-league-card{width:170px;float:left;background:#FFF;border-right:1px #CCC solid;border-bottom:1px #CCC solid;font:400 14px/1em Montserrat;min-height:42px}#dt9-leagues-menu-widget .dt9-league-card a{color:#000;padding:6px 12px;text-decoration:none;cursor:pointer;display:flex;align-items:center}#dt9-leagues-menu-widget .dt9-league-card a picture{line-height:0;margin:0 7px 0 0;padding:0;width:25px;height:25px}#dt9-leagues-menu-widget .dt9-league-card a picture img{width:32px;height:auto}#dt9-leagues-menu-widget .dt9-league-card a>*{pointer-events:none}#dt9-leagues-menu-widget .dt9-league-card:hover a:not(.active){color:#1974d2}#dt9-leagues-menu-widget .dt9-league-card .active{background:rgba(25,116,210,0.2);border-bottom:1px solid transparent;cursor:default !important;color:#000}#dt9-leagues-menu-widget .dt9-league-card.hidden{opacity:0;max-height:0;font-size:0;line-height:0;margin:0}#dt9-leagues-menu-widget .read-more-state:checked ~ ul .hidden{margin-bottom:10px;font:400 16px/1em Montserrat !important}#dt9-leagues-menu-widget .more{position:relative;font:400 16px/1em Montserrat;color:#1974d2;cursor:pointer;margin:15px 0 0 24px;display:block;z-index:1}#dt9-leagues-menu-widget::-webkit-scrollbar{width:3px;height:3px}#dt9-leagues-menu-widget::-webkit-scrollbar-button:start:decrement,#dt9-leagues-menu-widget :-webkit-scrollbar-button:end:increment{display:block;height:10px}#dt9-leagues-menu-widget::-webkit-scrollbar-button:vertical:increment{background-color:#fff}#dt9-leagues-menu-widget::-webkit-scrollbar-track-piece{background-color:#eee;-webkit-border-radius:3px}#dt9-leagues-menu-widget::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#ccc;-webkit-border-radius:3px}#dt9-leagues-menu-widget::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#ccc;-webkit-border-radius:3px}.si-match-menu{font:500 16px/1em Roboto;padding:48px 0;margin:0;background:#fff;position:relative}.si-match-menu menuitem{margin:0 45px !important;position:relative}.si-match-menu menuitem a{color:#b7b8bb;text-decoration:none}.si-match-menu menuitem:after{content:"";width:0;height:3px;background-color:#1974d2;position:absolute;left:50%;bottom:0;transform:translateX(-50%) translateY(10px);transition:all 0.25s ease-out}.si-match-menu menuitem:hover a,.si-match-menu menuitem.active a{color:#1974d2}.si-match-menu menuitem:hover:after,.si-match-menu menuitem.active:after{width:100%;transform:translateX(-50%) translateY(10px)}.empty-footer{display:none}.site-footer{background-color:#2560ac;min-height:260px;box-sizing:border-box;padding:30px 0;color:#fff}.site-footer .right-align{text-align:right}.site-footer h3{color:#fff}.site-footer .menu{list-style:none;margin:0;padding:0}.site-footer .menu li{text-transform:capitalize}.site-footer .menu li a{font-size:12px;line-height:1em;color:#fff;text-decoration:none;transition:all 0.25s ease}.site-footer .menu li.current-menu-item a,.site-footer .menu li a:hover{color:#ffca39}.si-recent-posts-widget{margin:0 0 30px;list-style:none}.si-recent-posts-widget li:not(:last-child){margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #ededee}.si-recent-posts-widget li figure{margin:0;padding:0;display:flex}.si-recent-posts-widget li figure div{background-color:#ededee;line-height:0;min-width:72px;min-height:72px}.si-recent-posts-widget li figure img{width:100%}.si-recent-posts-widget li figcaption{margin-left:10px}.si-recent-posts-widget li figcaption .title{font:400 15px/1.2em Roboto;color:#000;text-decoration:none;transition:all 0.25s ease}.si-recent-posts-widget li figcaption .title:hover{text-decoration:none;color:#1974d2}.si-recent-posts-widget li figcaption a{display:block}.si-recent-posts-widget li figcaption button{margin-top:5px}#bitnami-banner{display:none}.landing-subpage-content{margin-top:0}.landing-subpage-content .bg{padding:40px 0;background:linear-gradient(175.62deg, rgba(30,110,132,0.83) 35.35%, rgba(56,0,54,0.7) 96.45%),url("https://dh9jffmaua1pl.cloudfront.net/wp/dominik-kuhn-kEHp1gUJNO8-unsplash-compressed.jpg") no-repeat;background-size:cover}.landing-subpage-content .bg-container{text-align:center}.landing-subpage-content .bg-container .widget{width:750px;margin:0 auto}.landing-subpage-content .bg-container figure img{max-width:200px}.landing-subpage-content .error-message{font-size:20px;color:#ffca39;text-align:center}.landing-subpage-content .widget-container{background:#fff;border-radius:4px;padding:25px 90px;margin-top:-5px;display:grid;grid-template-columns:repeat(3, 1fr);grid-gap:20px;overflow:hidden}.landing-subpage-content .widget-container>div{margin-bottom:20px;display:block}.landing-subpage-content .widget-container>div si-lb-widget{box-shadow:0 0 20px rgba(0,0,0,0.1),0 0 6px rgba(0,0,0,0.1);border-radius:8px}.landing-subpage-content .widget-container.footer{margin-top:0;display:flex;justify-content:center}.landing-subpage-content .widget-container.footer>div{width:100%}.landing-subpage-content .widget-container.footer>div>*{margin:0 auto}.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:30px 0 20px}.privacy-info{color:#fff;text-align:right;font-size:12px}.privacy-info a{color:#ffca39}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9{padding-right:5px;padding-left:5px}.row{margin-right:-5px;margin-left:-5px}.content-wrapper{background:#fff;padding:30px 20px}.center-content.bg-content .entry-content .content-wrapper{background:none;padding:0;box-shadow:none}.nav-links>* a{text-decoration:none;color:#000;padding:11px 0;border-bottom:1px solid #ededee;font:400 14px/1em Montserrat;display:block;transition:all 0.2s ease}.nav-links>* a span{pointer-events:none}.nav-links>* a:hover{color:#1974d2}.nav-links .nav-previous{padding-right:10px}.nav-links .nav-next{padding-left:10px}.entry-group figure{min-height:300px;position:relative;background-color:#e5e5e5;margin:0 0 20px}.entry-group figure .post-thumbnail{position:relative}.entry-group figure .post-thumbnail:after{content:"";position:absolute;width:100%;height:50%;background:linear-gradient(to top, black 0%, rgba(0,0,0,0) 100%);bottom:0;left:0;z-index:0}.entry-group figure .post-thumbnail img{width:100%}.entry-group figure figcapture{position:absolute;left:0;bottom:0;padding:0 30px 60px}.entry-group figure figcapture .entry-title{margin-bottom:0;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.2);text-align:center}.entry-group .entry-header.mobile{display:none;margin-bottom:15px}.entry-group .entry-header.mobile .entry-title{margin-bottom:0}.entry-meta{display:none}.si-default-post-layout{background:#fff;box-shadow:none !important}.si-default-post-layout .entry-content .wp-block-si-widget si-lb-widget{box-shadow:none;background:none}.si-default-post-layout .entry-content .wp-block-si-widget si-lb-widget::part(si-content){border:1px solid #ededee;border-radius:10px;box-shadow:none}.si-default-post-layout .entry-content:after,.si-default-post-layout .entry-content:before{display:none}.si-default-post-layout .entry-content .parent-selector+si-lb-widget,.si-default-post-layout .entry-content .parent-selector+.wp-block-si-widget,.si-default-post-layout .entry-content .parent-selector+.wp-block-group>* .wp-block-si-widget:nth-child(1){margin-top:-65px}.si-default-post-layout .entry-content .wp-block-group{padding:0 30px}.match-subpage-widgets.stats{margin:0 -20px}.match-subpage-widgets.stats si-lb-widget{margin-bottom:30px !important;padding-bottom:48px;border-bottom:none}.match-subpage-widgets.stats si-lb-widget::part(si-content){box-shadow:none}.match-subpage-widgets.stats h2{position:relative;padding:16px 20px;margin:0;background:#fff;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5}.match-subpage-widgets.stats>*{padding:0 20px}.match-subpage-widgets.articles .si-match-article figure img{width:100%}.match-subpage-widgets.articles .si-match-article figcaption h2 a{text-decoration:none;color:#000;transition:all 0.2s ease}.match-subpage-widgets.articles .si-match-article figcaption h2 a:hover{color:#1974d2}.match-subpage-widgets.odds{margin:0 -20px}.match-subpage-widgets.odds si-lb-widget{padding-bottom:0;padding-top:10px;margin-bottom:48px;border-bottom:none;border-top:1px solid #e5e5e5}.match-subpage-widgets.table si-lb-widget::part(si-content){box-shadow:none}.match-subpage-widgets.evergreen-seo-text .wp-block-group{margin-bottom:30px}.leagues-center-widget{margin-bottom:48px;padding-bottom:17px;position:relative}.leagues-center-widget:after{content:"";position:absolute;width:calc(100% + 40px);height:1px;background-color:#e5e5e5;bottom:0;left:-20px}.leagues-bottom-widgets{margin:0 -20px}.error-page{text-align:center;padding:90px 0 60px}.error-page h2{font-size:35px;line-height:1em;color:#c7c5c5;font-weight:bold;text-transform:uppercase;margin-bottom:15px}.error-page h3{font-size:25px;line-height:1em;font-weight:400;margin-bottom:50px;color:#c7c5c5}.error-page>div{display:flex;align-items:center;justify-content:center;font-weight:bold;font-size:230px;line-height:1em;color:#c7c5c5;margin-bottom:30px}.error-page>div svg{width:230px;fill:#4dace8}.error-page>div em{font-style:normal}.error-page button{outline:none;margin:3px;box-sizing:border-box;display:inline-block;text-transform:capitalize;white-space:nowrap;background-color:#4dace8;box-shadow:0 0 0 1px #4dace8;border:none;font:700 18px/1em "Montserrat";color:#fff;padding:13px 15px;border-radius:9px;transition:all 0.25s ease-out}.error-page button a{transition:all 0.25s ease-out}.error-page button:hover{background-color:transparent}.error-page button:hover a{color:#4dace8}@media only screen and (max-width: 600px){#dt9-leagues-menu-widget{display:none !important}}@media only screen and (min-width: 768px){#dt9-leagues-menu-widget{display:fixed !important}}@media (min-width: 1340px){.container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1440px}.si-match-header-wrapper{min-height:301px}.landing-subpage-content .bg{min-height:857px}.landing-subpage-content .widget-container>div si-lb-widget{min-height:300px}}@media (min-width: 1200px){.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9{width:100%;margin:0}.fullwidth-latest-post figure picture div img{height:416px}}@media screen and (min-width: 992px) and (max-width: 1339px){.site-header>.bg:after{transform:translate(40%, 0%) rotate(30deg);-webkit-mask-image:linear-gradient(80deg, rgba(0,0,0,0) 5%, black 15%)}.si-match-menu menuitem{margin:0 20px !important}.site-header .container{justify-content:space-between}.main-navigation{float:none;width:100%}.main-navigation:not(.toggled) #primary-menu>li{margin:0 15px}.main-navigation:not(.toggled) #primary-menu>li a{padding:13px 10px}.landing-subpage-content .widget-container{grid-template-columns:repeat(2, 1fr)}.landing-subpage-content .widget-container.footer si-lb-widget{max-width:100% !important}.landing-subpage-content .widget-container>div:nth-last-of-type(1){grid-column:span 2 / auto}.landing-subpage-content .bg-container .widget{width:80%}}@media screen and (min-width: 320px) and (max-width: 991px){.col-md-3,.col-md-6,.col-md-9{position:relative;width:100%;padding-right:15px;padding-left:15px;flex:auto;max-width:none}.site-header>.bg:after{transform:translate(40%, 0%) rotate(30deg);-webkit-mask-image:linear-gradient(80deg, rgba(0,0,0,0) 5%, black 15%)}#si-leagues-menu-widget{display:flex;justify-content:space-between}.widget-area{margin-bottom:12px}.main-navigation{float:none;width:auto}.main-navigation .sub-menu{left:0;position:relative;display:flex;flex-direction:column;background:none;padding:0 0 0 20px}.main-navigation .sub-menu li{width:100%}.main-navigation .sub-menu li:nth-last-child(1){border-bottom:none !important}.main-navigation:not(.toggled) #primary-menu{font:15px/1em Roboto}.main-navigation:not(.toggled) #primary-menu>li{margin:0 10px}.main-navigation:not(.toggled) #primary-menu>li:after{height:2px}.main-navigation .menu-toggle{display:block}.site-header .site-branding>a{width:170px}.site-header .container{justify-content:space-between}.left-sidebar{display:none}.site-branding-wrapper{margin-bottom:0}.site-header{padding:0;position:fixed;width:100%}.site-header .container{display:block}.site-header .site-branding{justify-content:center}.site-header .site-branding>a{width:150px}#page>.container{padding-top:72px}#general-menu{position:absolute;display:flex;top:0;left:0;background:#000;width:100%;height:100vh;box-sizing:border-box;transform:translate(-101%, 57px);visibility:hidden;transition:all 0.2s ease}#general-menu #primary-menu{font:400 16px/1.7em Roboto !important;flex-direction:column;box-sizing:border-box}#general-menu #primary-menu li{margin:0;border-bottom:1px solid rgba(255,255,255,0.25)}#general-menu #primary-menu li a{color:#fff;padding:10px 0;border-radius:0;transition:all 0.2s ease}#general-menu #primary-menu li:after{display:none}#general-menu #primary-menu li.active>a,#general-menu #primary-menu li.current-menu-item>a,#general-menu #primary-menu li:hover>a{color:#ffca39}#general-menu .mobile-tabs{text-align:center;display:block;margin-right:20px}#general-menu .mobile-tabs ul{display:flex;flex-direction:column;font-size:12px}#general-menu .mobile-tabs ul>li{display:flex;flex-direction:column;align-items:center;padding:10px 20px;cursor:pointer;color:#fff;transition:all 0.2s ease}#general-menu .mobile-tabs ul>li svg{fill:#fff;pointer-events:none}#general-menu .mobile-tabs ul>li:not(:last-child){margin-bottom:1px}#general-menu .mobile-tabs ul li.active,#general-menu .mobile-tabs ul li:hover{color:#ffca39;background-color:rgba(255,255,255,0.1)}#general-menu .mobile-tabs ul li.active svg,#general-menu .mobile-tabs ul li:hover svg{fill:#ffca39}#general-menu .menu,#general-menu .mobile-leagues-menu{display:none}#general-menu .menu.show,#general-menu .mobile-leagues-menu.show{display:flex}#general-menu .mobile-leagues-menu{flex-direction:column}#general-menu .mobile-leagues-menu li{border-bottom:1px solid rgba(255,255,255,0.25)}#general-menu .mobile-leagues-menu li a{color:#fff;padding:10px 0;transition:all 0.2s ease}#general-menu .mobile-leagues-menu li.active a,#general-menu .mobile-leagues-menu li:hover a{color:#ffca39}#general-menu #menus{display:block}#language-menu{width:200px;float:right}#language-menu:not(.mobile){display:none}#language-menu.mobile{display:block}#language-menu:hover ul li ul{display:block}.widget-area{padding-top:30px}.entry-content{margin:0}.entry-title{font-size:20px}.entry-group figure{min-height:200px}.widget-area{margin-bottom:12px}.left-sidebar{order:2}.center-content{order:0}.right-sidebar{order:1}.si-match-menu{justify-content:space-around;font-size:15px}.si-match-menu menuitem{margin:0 10px !important}.post,.page{margin:0}.left-sidebar,.center-content,.right-sidebar{padding-top:0}.site-breadcrumbs{transform:translateY(60px)}.landing-subpage-content .bg-container .widget{width:100%}.landing-subpage-content .widget-container{grid-template-columns:repeat(1, 1fr);padding:25px 15px}.landing-subpage-content .widget-container.footer si-lb-widget{max-width:100% !important}.latest-post-list{grid-template-columns:1fr 1fr}.fullwidth-latest-post figure{margin:0 0 15px}.fullwidth-latest-post figure figcaption{padding:0 20px 20px}.fullwidth-latest-post figure figcaption h2{font-size:20px}.error-page h2{font-size:27px}.error-page h3{font-size:20px}.error-page>div{font-size:130px}.error-page>div svg{width:130px}.site-footer .column{margin-bottom:30px;text-align:left}.si-default-post-layout .entry-content .parent-selector+si-lb-widget,.si-default-post-layout .entry-content .parent-selector+.wp-block-si-widget,.si-default-post-layout .entry-content .parent-selector+.wp-block-group>*>.wp-block-si-widget:nth-child(1){margin-top:0}.entry-group figure figcapture{padding:30px}.si-default-post-layout .entry-content .parent-selector ~ *{padding-left:0;padding-right:0}.entry-group figure figcapture .entry-header{display:none}.entry-group .entry-header.mobile{display:block}.privacy-info{text-align:left}.privacy-info>div{display:inline-block}}@media screen and (max-width: 450px){.container.content{padding-left:0;padding-right:0;overflow:hidden}.widget-area,.content-area{padding:15px}.center-content.home-page .content-area si-lb-widget:not(:nth-last-of-type(1)){padding-bottom:15px;margin-bottom:15px}.center-content .content-area si-lb-widget ~ .page{padding-top:15px}.match-subpage-widgets.stats si-lb-widget{margin-bottom:15px !important;padding-bottom:15px}.match-subpage-widgets.odds si-lb-widget:not(:nth-last-of-type(1)){padding-bottom:15px;margin-bottom:15px}.latest-post-list{grid-template-columns:1fr}.entry-group figure{min-height:150px}}
